footer
    .container
        h2 Come See Us
        .__box
            .__box-item
                img(src='@img/icons/icons.svg#svgicons--gps' class='svg-svgicons--gps-dims' alt='svgicons--gps')
                h2 NEW YORK
                .__tel 646-394-3920 
                .__address 4096 Grove Street 
                .__address Farmingdale, NY 11735
            .__box-item
                img(src='@img/icons/icons.svg#svgicons--gps' class='svg-svgicons--gps-dims' alt='svgicons--gps')
                h2 CHICAGO
                .__tel 773-898-3028
                .__address 1243 Virginia Street 
                .__address Chicago, IL 60629
        .__copy © 2022 by The Magic Slab.
