//font-family
$ff__awesome: 'fontawesome';

$ff__main   : RobotoRegular;
$ff__main-b : RobotoBlack;
$ff__main-l : RobotoLight;
$ff__main-t : RobotoThin;
$ff__main-m : RobotoMedium;

//colors
$color-official : #FEC77E;
$color-brand    : #CC2A41;
$color-tecnical : #ECE9E9;

// bg section
$bg-NAME :url(../../img/NAME.png);

//width & height
$rate : 100%;
$px   : 10px;
$rem  : 1rem;
$zero : 0;